@import "vars";
@import "fonts";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style-type: none;
}

dl, ol, ul {
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: #ffffff;
	&:hover {
		color: #ccc;
}

img {
	display: block;
	width: 100%;
	margin: 0 auto;
	max-width: 100%;
}

body {
	background-color: #EEEEEE;
	font-size: 16px;
	line-height: 1.6;
	font-family: $default-font;
	overflow-x: hidden;
	color: #494848;
}

.container {
	max-width: 1680px;
	margin: 0 auto;
	width: 100%;
	background-color: #fff;
}

